body {
    color: black;
    margin: 0;
    line-height: 1.58;
    letter-spacing: -.003em;
    font-size: 21px;
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
  /*
    background-image: url("resources/background2.jpg");
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 10% 25%;
    background-size: 80% 70%;
    */
}

body .header {
    position: absolute;
    top: 2%;
    left: 5%;
}

body .game .background{
    position: absolute;
    left: 5%;
    top: 12.5%;
    size: 80% 70%;

}

body .game .info-screen{
    position: absolute;
    left: 40%;
    top: 40%;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    font-size: 60%
}
body .game .subheader{
    position: absolute;
    left: 45%;
    top: 28%;
    text-align: center;
    font-size: 80%;
}
body .game .sidebar{
    position: absolute;
    left: 12%;
    top: 28%;
}
body .game .topbar{
    position: absolute;
    width: 100%;

    left: 8%;
    top: 12%;
    font-size: 120%;
}
