body {
    color: black;
    margin: 0;
    line-height: 1.58;
    letter-spacing: -.003em;
    font-size: 21px;
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    background-image: url("resources/background2.jpg");
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 10% 20%;
    background-size: 150px 70%;
}

body .header {
    text-align: left;
    margin: 50px;
}
/*
body .game .background .photo {
    margin: 100px;
    padding-top: 200px;
    border-radius: 20px;
    background-size: cover;
    z-index: -1;
*/
}
body .game .info-screen{
    position: absolute;
    left: 40%;
    top: 40%;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
}
body .game .subheader{
    position: absolute;
    left: 60%;
    top: 28%;
    width: 100%;
    font-size: 80%;
}
body .game .sidebar{
    position: absolute;
    left: 12%;
    top: 28%;
}